version: '4'

services:
  database:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: papi
    volumes:
      - db-volume:/var/lib/postgresql/data

  api:
    image: juzaetum/ac2_devops_alunoserecompensas:latest
    depends_on:
      - database
    environment:
      DB_HOST: database
    ports:
      - "8585:8080"
    networks:
      - default

volumes:
  db-volume:
