spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:database}:${DB_PORT:5432}/${DB_NAME:sapi}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  sql:
    init:
      mode: never

server:
  port: 8080
